*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

div,button{
    padding: 20px;
    margin: 50px;
}
#bulb{
    
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
}
#on{
    width:80px;
}