* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
background-color: rgb(0, 208, 255);
}

#card{
    height: 480px;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #000;
    position: relative;
    overflow: hidden;
}
#storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 15px;
    /* border-radius: 8px; */
    white-space: nowrap;
    /* using this will white-space nowrap will align the items into single block */
    overflow-x: auto;
    /* overflow-x: auto; will remove the scroll bar */
    overflow-y: hidden;
    /* extra content will be hidden outside the single block */
}
/* this will remove the scroll bar */
#storiyan::-webkit-scrollbar{
    display: none;
}
.story{
    width:90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid red;
    overflow: hidden;
    display:inline-block;
    /* using this in child element will make the image fit the container */
    margin-right: 5px;

}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
 
}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}
    